# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la

# Debug files 
*.pdb
*.log 
*.cmake 
*.manifest

.vs 
out
# Executables
*.exe
*.out
*.app


Makefile
CMakeCache.txt
cmake_install.cmake
CMakeFiles/
file_sharing


Debug/
guthi_exec.dir/
guthi_exec.vcxproj
guthi_exec.vcxproj.filters
*.vcxproj
*.filters
Guthi.sln
x64/
.vscode/
.cache/
log.txt
build/
Platform/
.clang-format
guthi_exec
/src/daemon/win32_pipe.cpp
src/daemon/linux_runtime
